# 0. pymysql 라이브러리 설치 및 import

In [2]:
# 설치 안되어 있으면 설치 하기(python mysql 라이브러리)
# !pip install PyMySQL

In [1]:
import pymysql

# 1. DB연결(id, pw 잘 관리하기)

In [2]:
#데이터베이스에 연결하기 위한 정의
conn = pymysql.connect(host='localhost', port=3306, user='Kelly', passwd='power123!', db='test_db2', charset='utf8')

# 2. DB cursor 생성
셔틀버스와 같은것,

In [3]:
# DB 테이블과 연결하여 sql문 실행을 위한 객체
cur = conn.cursor()
cur

In [32]:
# items 테이블 삭제
cur.execute("DROP TABLE items")

0

# 3. sql 명령 실행

In [6]:
#SQL 테이블 설정 #데이터의 테이블 설정을 CREATE_SQL로 정의
CREATE_SQL ="""
CREATE TABLE IF NOT EXISTS items(
    id integer primary key auto_increment,
    code text not null,
    name text not null,
    price integer null
)
"""
#SQL로 CREATE 하고 싶은 것을 올리기 위한 execute
cur.execute(CREATE_SQL);

In [25]:
#execute 함수 - Python에서 SQL 명령어 실행

INSERT_SQL = "INSERT INTO items(code, name, price) VALUES (%s, %s, %s);"

cur.execute(INSERT_SQL, ('A0001', '게이밍 키보드', 38000))

1

In [8]:
# commit()은 connection 객체로 해야 함. 
# 위에 있는 호스트 이름 나와있는 것이 conn객체.
# Commit을 호출하여 데이터를 DB에 영구적으로 저장

conn. commit()

In [26]:
# 여러개의 데이터를 한꺼번에 넣기
# executemany- 많이 execute 한다.
# 데이터도 여러가지
data = (
    ('A0002', '에어컨 30평형', 2000000),
    ('A0003', '최신형 스마트폰', 1000000),
    ('A0004', '최신형 노트북', 500000)
)

cur.executemany(INSERT_SQL, data)

3

In [12]:
# SELECT문(R)
# Select_sql 1은 items 테이블의 모든 데이터를 선택하는 sql 쿼리
SELECT_SQL1 = "SELECT * FROM items;"
# select_sql 2는 items 테이블의 첫 두 레코드만 선택하는 sql 쿼리
SELECT_SQL2 = "SELECT * FROM items LIMIT 2;"

cur.execute(SELECT_SQL2)

# cut.fetchall()은 실행된 쿼리의 결과를 모두 가져와서 rows 변수에 저장합니다.
rows = cur.fetchall()
for row in rows:
    print(row)
print('========')
    
# 현재에서 4개 가져오기
# print('fetch all -> \n', cur.fetchmany(size=4))

(1, 'A0001', '게이밍 키보드', 38000)
(2, 'A0002', '에어컨 30평형', 2000000)
========

In [13]:
# UPDATE문(U)
UPDATE_SQL = """
UPDATE items set price = 1500000 
WHERE code='A0002'
"""
cur.execute(UPDATE_SQL)

1

In [10]:
# DELETE 문(D)
DELETE_SQL = """
DELETE FROM items 
WHERE code = 'A0001'
"""
cur.execute(DELETE_SQL)

2

In [23]:
DELETE_SQL3 = """
DELETE FROM items
WHERE code = 'A0003'
"""
cur.execute(DELETE_SQL3)

1

In [47]:
INSERT_SQL = """
INSERT INTO items(code, name, price) 
VALUES (%s, %s, %s);
"""

cur.execute(INSERT_SQL, ('A0001', '게이밍 키보드', 38000))

1

# 4. commit, rollback 실행
- 승인(=db 적용), 취소
- INSERT, UPDATE, DELETE는 반드시 commit()을 해야 실제 데이터베이스에 반영됨.

In [27]:
# conn.rollback()
conn.commit()

# 5. DB close()

In [24]:
conn.close()