# 0. pymysql 라이브러리 설치 및 import

[mysql 참고]

공식 문서 : https://pypi.org/project/PyMySQL/#id3
유용한 블로그 : https://www.fun-coding.org/mysql_basic6.html

In [1]:
# 설치 안되어 있으면 설치 하기(python mysql 라이브러리)
# pip install PyMySQL

In [2]:
import pymysql

# 1. DB연결(id, pw 잘 관리하기)

In [4]:
conn = pymysql.connect(host='localhost', port=3306, user='Kelly', passwd='power123!', db='test_db2', charset='utf8')

# 2. DB cursor 생성
셔틀버스와 같은것,

In [5]:
cur = conn.cursor()

In [30]:
cur.execute("DROP TABLE items")

0

# 3. sql 명령 실행

In [31]:
CREATE_SQL ="""
CREATE TABLE IF NOT EXISTS items(
    id integer primary key auto_increment,
    code text not null,
    name text not null,
    price integer null
)

"""
cur.execute(CREATE_SQL);

In [32]:
INSERT_SQL = "INSERT INTO items(code, name, price) VALUES (%s, %s, %s);"

cur.execute(INSERT_SQL, ('A0001', '게이밍 키보드', 38000))

1

In [33]:
# 여러개의 데이터를 한꺼번에 넣기
data = (
    ('A0002', '에어컨 30평형', 2000000),
    ('A0003', '최신형 스마트폰', 1000000),
    ('A0004', '최신형 노트북', 500000)
)

cur.executemany(INSERT_SQL, data)

3

In [11]:
# SELECT문(R)
SELECT_SQL1 = "SELECT * FROM items;"

SELECT_SQL2 = "SELECT * FROM items LIMIT 2;"

cur.execute(SELECT_SQL2)

rows = cur.fetchall()
for row in rows:
    print(row)
print('========')
    
# 현재에서 4개 가져오기
# print('fetch all -> \n', cur.fetchmany(size=4))

(6, 'A0001', '게이밍 키보드', 38000)
(7, 'A0002', '에어컨 30평형', 2000000)
========

In [14]:
cur.execute("select * from items limit 3;")
rows = cur.fetchall()
for row in rows:
    print(row)

(6, 'A0001', '게이밍 키보드', 38000)
(7, 'A0002', '에어컨 30평형', 2000000)
(8, 'A0003', '최신형 스마트폰', 1000000)

In [55]:
##이건 테이블이 두 개 필요해 (지워도됨)
slt_sql = """select ui.gender, sum(gmv) as tot_gmv, count(distinct oo.userid) as user_cnt
        from online_order oo
        join user_info ui on oo.userid = ui.userid 
        group by 1
        order by 2 desc;
        """

slt_sql = """select code, sum(price) as tot_price, count(distinct.id) as user_id
        from items
        
cur.execute(slt_sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('F', Decimal('125819000'), 4609)
('M', Decimal('345000'), 13)

In [65]:
# UPDATE문(U)
price = 1500000
code = 'A0001'
cur.execute("UPDATE items set price = %s WHERE code=%s;", (price, code))

0

In [62]:
# DELETE 문(D)
DELETE_SQL = "DELETE FROM items WHERE code = 'A0001'"
cur.execute(DELETE_SQL)

0

# 4. commit, rollback 실행
- 승인(=db 적용), 취소
- INSERT, UPDATE, DELETE는 반드시 commit()을 해야 실제 데이터베이스에 반영됨.

In [22]:
#conn.rollback()
conn.commit()

# 5. DB close()

In [23]:
conn.close()