# pymysql을 활용한 데이터 CRUD 실습

In [1]:
import pymysql

# mysql DB 연결
-호스트

-포트 : mysql은 기본적으로 3306

-user : DB에 등록되어 있어야 함.

-pw : DB에 등록되어 있어야 함.

-db : DB는 미리 만들어야 한다. DBeaver에서도 만들 수 있고, 다양한 DB 도구들이 있다. DB 서버에 미리 만들어져 있어야 함.

In [6]:
conn = pymysql.connect(host ='localhost', port = 3306, user = 'Kelly', passwd='power123!', db='test_db3', charset='utf8')
conn

# DB cursor 생성 (SQL문을 운반하는)
* SQL문을 생성하기 위한 객체

In [7]:
sq_cursor = conn.cursor()

# SQL문을 이용한 테이블 생성 및 데이터 CRUD

In [12]:
#making items table in test_db3

sq_cursor.execute(
"""create table if not exist items(id integer primary key auto_increment,
code varchar(10) not null,
goods_name varchar(30) not null,
price integer null,
regdate date
)
    """
)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'exist items(\nid integer primary key auto_increment,\ncode varchar(10) not null,\ng' at line 1")