# 0. pymysql 라이브러리 설치 및 import

[mysql 참고]

공식 문서 : https://pypi.org/project/PyMySQL/#id3 <br>
유용한 블로그 : https://www.fun-coding.org/mysql_basic6.html <br>

In [4]:
# 설치 안되어 있으면 설치 하기(python mysql 라이브러리)
!pip install PyMySQL

Requirement already satisfied: PyMySQL in ./venv/lib/python3.8/site-packages (1.0.2)

In [3]:
import pymysql

# 1. DB연결(id, pw 잘 관리하기)

In [11]:
import os
from dotenv import load_dotenv

# .env 파일 경로 지정 
load_dotenv()

# Open AI API 키 설정하기
HOST = os.getenv('HOST')
PORT = int(os.getenv('PORT'))   
USER = os.getenv('USER')
PASSWD = os.getenv('PASSWD')
DB1 = os.getenv('DB1')

In [12]:
conn = pymysql.connect(host=HOST, port=PORT, user=USER, passwd=PASSWD, db=DB1, charset='utf8')

# 2. DB cursor 생성
셔틀버스와 같은것,

In [13]:
cursor = conn.cursor()

In [14]:
cursor.execute("DROP TABLE items")

0

# 3. sql 명령 실행

In [15]:
CREATE_SQL ="""
CREATE TABLE IF NOT EXISTS items(
    id integer primary key auto_increment,
    code varchar(10) not null,
    goods_name varchar(30) not null,
    price integer null,
    regdate date
)

"""
cursor.execute(CREATE_SQL);

In [16]:
from datetime import datetime
now_date = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
now_date

'2024-07-28 20:32:24'

In [17]:
now_date

'2024-07-28 20:32:24'

In [18]:
INSERT_SQL = '''INSERT INTO items(code, goods_name, price, regdate) VALUES (%s, %s, %s, %s);'''
insert_data =  ('A0001', '게이밍 키보드', 38000, datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

cursor.execute(INSERT_SQL, insert_data)

1

In [19]:
# 여러개의 데이터를 한꺼번에 넣기
data = (
    ('A0002', '에어컨 30평형', 2000000, datetime.now().strftime('%Y-%m-%d %H:%M:%S')),
    ('A0003', '최신형 스마트폰', 1000000, datetime.now().strftime('%Y-%m-%d %H:%M:%S')),
    ('A0004', '최신형 노트북', 500000, datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
)

cursor.executemany(INSERT_SQL, data)
conn.commit()

In [21]:
# SELECT문(R)
SELECT_SQL1 = "SELECT * FROM items;"

SELECT_SQL2 = "SELECT * FROM items LIMIT 2;"

cursor.execute(SELECT_SQL2)

rows = cursor.fetchall()
for row in rows:
    print(row)
print('========')
    
# 현재에서 4개 가져오기
# print('fetch all -> \n', cur.fetchmany(size=4))

(1, 'A0001', '게이밍 키보드', 38000, datetime.date(2024, 7, 28))
(2, 'A0002', '에어컨 30평형', 2000000, datetime.date(2024, 7, 28))
========

In [26]:
# UPDATE문(U)
price = 1500000
code = 'A0001'
cursor.execute("UPDATE items set price = %s WHERE code=%s;", (price, code))

1

In [27]:
cursor.execute("SELECT * FROM items WHERE code='A0001'")
row = cursor.fetchall()
print(row)

print(row[0][0], row[0][1], row[0][2], row[0][3], row[0][4])

((1, 'A0001', '게이밍 키보드', 1500000, datetime.date(2024, 7, 28)),)
1 A0001 게이밍 키보드 1500000 2024-07-28

In [28]:
cursor.execute("SELECT * FROM items")
rows = cursor.fetchall()
print(rows)
# 1행 1레코드 출력
for row in rows:
  #print(f"{row[0]}\t{row[1]}\t{row[2]}\t{row[3]}\t{row[4]}")
  print("{}\t{}\t{}\t{}\t{}".format(row[0], row[1], row[2], row[3], row[4]))
  #print(row)

((1, 'A0001', '게이밍 키보드', 1500000, datetime.date(2024, 7, 28)), (2, 'A0002', '에어컨 30평형', 2000000, datetime.date(2024, 7, 28)), (3, 'A0003', '최신형 스마트폰', 1000000, datetime.date(2024, 7, 28)), (4, 'A0004', '최신형 노트북', 500000, datetime.date(2024, 7, 28)))
1	A0001	게이밍 키보드	1500000	2024-07-28
2	A0002	에어컨 30평형	2000000	2024-07-28
3	A0003	최신형 스마트폰	1000000	2024-07-28
4	A0004	최신형 노트북	500000	2024-07-28

In [30]:
# DELETE 문(D)
DELETE_SQL = "DELETE FROM items WHERE code = 'A0001'"
cursor.execute(DELETE_SQL)
conn.commit()

In [32]:
cursor.execute("SELECT * FROM items WHERE code='A0001'")
row = cursor.fetchall()
print(row)

()

In [33]:
INSERT_SQL = '''INSERT INTO items(code, goods_name, price, regdate) VALUES (%s, %s, %s, %s);'''
insert_data =  ('A0001', '게이밍 키보드', 38000, datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

cursor.execute(INSERT_SQL, insert_data)
conn.commit() # DB 시스템의 테이블에 적용

# 4. commit, rollback 실행
- 승인(=db 적용), 취소
- INSERT, UPDATE, DELETE는 반드시 commit()을 해야 실제 데이터베이스에 반영됨.

In [34]:
INSERT_SQL = '''INSERT INTO items(code, goods_name, price, regdate) VALUES (%s, %s, %s, %s);'''
insert_data =  ('A0006', '게이밍 체어2', 200000, datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

cursor.execute(INSERT_SQL, insert_data)

1

In [35]:
#conn.rollback()
conn.commit()

# 5. DB close()

In [36]:
conn.close()